---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: black;
$link-color-hover: MediumBlue;
$navicon-link-color-hover: MediumBlue;
$masthead-link-color-hover: MediumBlue;
$primary-color: MediumBlue;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.redirect-banner {
    background-color: #fadadd;
    color: #000;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    z-index: 9999;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }